body {
  background: #272a2f;
  color: white;
}

/* .App {
  padding: 2%;
} */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(204, 91, 91);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* .landing-wrapper {
  background: ;
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
} */

/* nav styling */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  border-bottom: 1px solid white;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin-right: 20px;
}

/* home styles  */
.home-wrapper {
  display: flex;
}

.content {
  width: 100%;
  /* padding: 2%; */
}

.dashboard {
  padding: 2%;
}

/* tabs */
.tab_container {
  display: flex;
}

.sport_btn {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  background: #343742;
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  max-width: 150px;
  max-height: 100px;
  cursor: pointer;
  font-size: 1.2rem;
}

.icon {
  /* height: 50%; */
  padding: 7px 14px;
  margin-right: 20px;
  font-size: 2.5rem;
  border-radius: 20px;
  background: #3f4354;
}

.active {
  background: #6c7bca;
}

.icon_active {
  background: white;
}
